div[data-testid="stAppViewContainer"] h1 {
    text-align: center;
    width: 100%;
    margin-bottom: 60px;
    font-weight: 600;
}

[data-testid="stMetric"] {
    background-color: #ffffff00;
    padding: 15px;
    border-radius: 10px;
    border-left: 3px solid #ff4b4b;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

[data-testid="stMetricLabel"] p {
    font-weight: 600;
}

.stPlotlyChart {
    background-color: #ffffff00;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color: transparent;
}
